<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gripsack.android">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- PlacePicker also requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".GripsackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GEO_API_KEY}" />

        <activity
            android:name=".ui.explore.ExploreActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.SignInActivity"
            android:label="@string/label_google_sign_in"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.companions.CompanionsActivity"
            android:label="@string/label_companions"
            android:parentActivityName=".ui.explore.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.gripsack.android.ui.explore.ExploreActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="gripsack.github.com"
                    android:pathPrefix="/invites/companion"
                    android:scheme="http" />
                <data
                    android:host="gripsack.github.com"
                    android:pathPrefix="/invites/companion"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.files.FilesActivity"
            android:label="@string/title_my_storage"
            android:parentActivityName=".ui.explore.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.gripsack.android.ui.explore.ExploreActivity" />
        </activity>
        <activity
            android:name=".ui.media.MediaActivity"
            android:label="@string/title_my_media"
            android:parentActivityName=".ui.explore.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.gripsack.android.ui.explore.ExploreActivity" />
        </activity>
        <activity
            android:name=".ui.timeline.TimelineActivity"
            android:label="@string/title_timeline"
            android:parentActivityName=".ui.explore.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.gripsack.android.ui.explore.ExploreActivity" />
        </activity>
        <activity
            android:name=".ui.places.PlacesActivity"
            android:label="@string/title_my_places"
            android:parentActivityName=".ui.explore.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.gripsack.android.ui.explore.ExploreActivity" />
        </activity>
        <activity
            android:name=".ui.trips.TripsActivity"
            android:label="@string/title_my_trips"
            android:parentActivityName=".ui.explore.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.gripsack.android.ui.explore.ExploreActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="gripsack.github.com"
                    android:pathPrefix="/invites/trip"
                    android:scheme="http" />
                <data
                    android:host="gripsack.github.com"
                    android:pathPrefix="/invites/trip"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.explore.ExploreActivity"
            android:theme="@style/Preference">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.gripsack.android.ui.explore.ExploreActivity" />
        </activity>
        <activity
            android:name=".ui.trips.AddTripActivity"
            android:label="@string/title_activity_add_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.trips.EditTripActivity"
            android:label="@string/title_activity_add_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.trips.EditDestinationActivity"
            android:label="@string/title_activity_add_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.trips.DisplayTripActivity" />
        <activity
            android:name=".ui.destinations.DestinationsActivity"
            android:label="@string/title_activity_destinations"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>